/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    
}
img{
    width:150px;
    border-radius: 5px;
}

.cls1{
    width: 100%;
    height: 170px;
    text-align: center;
    color: white;
    background-image: url("images/torshov.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.c11{
    background: #457B9D;
    width: 130px;
    height: 25px;
    margin: 50px 0px 10px 0px;
    padding: 4px 8px;
    font-size: 20px;
    border-radius: 5px;
}
.c12{
    background: #1D3557;
    width: 270px;
    height: 25px;
    padding: 3px 5px;
    margin: 5px auto;
    font-size: 12px; 
    border-radius: 5px;  
}

.cls2{
    background: #F1FAEE;
    padding: 4px;
    height: 230px;
}
.c21{
    font-size:7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img1{
    width: 50px;
    border-radius: 50%;
}
.c22,.c23,.c24{
    padding: 5px 10px;
  }
  .cls3{
      width:330px;
      height:230px;
      margin: 30px auto;
      background: #A8DADC;
      display:flex;
      justify-content:space-evenly;
      align-items:center;
      padding: 2px 10px;
      border-radius: 5px;
      border-bottom: 4px solid #1D3557;
  }
  .c31{
      margin:10px 5px;
      font-size:15px;
      width: 400px;
      height: 220px;
      padding: 10px 10px;
  }
  .c32{
      font-family: Italics;
  }
